.Dialogs {
    display: grid;
    /*grid-template-columns: 20rem 100%;*/

}
.dialogsItems {
    padding: 15px 20px;
}

.messagesItems {
    padding: 15px 20px;
    border-left: 1px solid #e7e7e7;
}

textarea {
    width: 30rem;
    resize: none;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
}
