.Navigation {
    background: #E0E0E0;
    grid-area: n;
    min-width: 10rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.Navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Navigation ul li {
    margin-top: 2rem;
}

.Navigation ul a {
    text-decoration: none;
    color: #000;
}

.Navigation ul a:hover {
    color: #0288D1;
}

.Navigation a.activeLink {
    color: #026399;
}