.error textarea{
    border: 2px solid #92372E;
}

.error input{
    border: 2px solid #92372E;
}

.error span{
    color: #92372E;
}

.formError{
    color: #92372E;
    /* border: 1px solid #92372E;
    padding: 5px; */
}